@charset "utf-8";

/* ------------------------------- */
/*          Reset                  */
/* ------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    height: 100vh;
    display:flex;
    font-family: Poppins;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(202, 202, 251), rgb(162, 218, 242));
  }
